body {
    margin: 0;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
    background: rgb(255, 255, 255);
    font-family:  Courier;
    
}
#wrap {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
h1 {
    margin: 0px;
}
#links a {
    margin-right: 5px;
}
ul {
    padding-left: 20px;
}
.project {
    margin-top: 10px;
}
.pub {
    margin-top: 10px;
}
.pub-venue {
    display: inline;
    font-weight: bold;
}
.pub-authors {
    display: inline;
    font-style: italic;
}
.nodot {
  list-style-type: none;
  padding-left: 0;
}
.bdiv {
    margin-top: 5px;
}
#demail {
    margin-top: 10px;
    color: #555;
    opacity: 0;
    transition: opacity 0.7s;
}