body {
    margin: 0;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(17, 17, 17);
    background:white ;
    font-family:  courier;
    
}
#wrap {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: justify; */
}

.bio{
    text-align: center;
    letter-spacing: 5px;
    border: black;
    border-style:double;
    padding: 15px;
}
h1 {
    margin: 0px;
    color: black;
    text-align: center;
    letter-spacing: 5px;
}
.links{
    margin: 0px;
    width: auto;
    text-align: center;
    align-items: center;
    background: rgb(0, 0, 0);
    color:white;
    
}
.links a {
    margin: 0px;
    margin-right: 20px;
    text-align: center;
    color:white;

}

#demail{
    text-align: center;
    align-items: center;
}
ul {
    padding-left: 20px;
}
h2{
    /* background: black;
    color: white; */
    text-align: center;
    
}
.project {
    margin-top: 10px;
    
}
.pub {
    margin-top: 10px;
}
.pub-venue {
    display: inline;
    font-weight: bold;
}
.pub-authors {
    display: inline;
    font-style: italic;
}
.nodot {
  list-style-type: none;
  padding-left: 0;
}
.bdiv {
    margin-top: 5px;
}
#demail {
    margin-top: 10px;
    color: #555;
    opacity: 0;
    transition: opacity 0.7s;
}